[2019-02-04 10:25] John-A-Davies opened #5 "Can't Copy jcl file to PROCLIB"
The `cp` command on Line 24 of `zowe-xmem-deploy-sh` fails to write to USER.Z23B.PROCLIB on a zD&T system.

Reason for failure:
There is a restriction is USS which means you can't write to a z/OS dataset if any process has it allocated, even if only for READ.  USER.Z23B.PROCLIB is in use by another user.  The other user of USER.Z23B.PROCLIB is anyone who logs on with the TSO PROC called ISPFPROC,

[2019-02-04 10:39] John-A-Davies commented on #5
Notes:
1.  This is not specific to zD&T systems; it applies to any system where the target dataset is allocated to another user, even as SHR.
2.  The same problem could occur for deploying to PARMLIB and LOADLIB.

[2019-02-04 11:01] dmitrynikolaev commented on #5
There're hard-coded references to ZOWESVR.JCL in zowe-copy-proc.sh, and the script relies on ocopyshr.clist copied to a temp dataset beforehand.

Since APF server installation is supposed to be a separate script, we can't use that directly.

[2019-02-04 16:56] dmitrynikolaev commented on #5
We've encountered multiple errors that apparently are related to autoencoding.
Investigating what caused that.

[2019-02-11 22:39] hogstrom opened #8 "ZWESIS01 Status check should not use a simulated login"
On my system I receive the following message:

It appears that on line 670 of c/zss.c a faux logon is attempted using a defunct userID called "D U MM Y".  This generates a log message and a RACF audit of a filed logon attempt.

To avoid that issue, I suggest that we pass a ZWEIST67 (perhaps this is configurable) and when we see that logon in zowe-common-c we do not actually execute the FASTAUTH an

[2019-02-11 22:45] ifakhrutdinov commented on #8
@hogstrom would making a status cross-memory service be a better solution? It could return very basic information about the server and help identify an offline instance or lack of permissions.

[2019-02-11 23:43] gadyck commented on #8
Why the dummy request?  It is not good form. If you must issue it and are authorized, you can suppress logging and messages

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Matt Hogstrom <notifications@github.com>
Sent: Monday, February 11, 2019 4:39:40 PM
To: zowe/zss
Cc: Subscribed
Subject: [zowe/zss] Permission checking should not simulate a login (#8)

On

[2019-02-12 14:57] ifakhrutdinov commented on #8
@gadyck Yes, that was a very cheap way to do a health check at that state of dev process. Now we need something more robust and specialized. Would a separate service for checking the status of the cross-memory server make sense?

[2019-02-12 18:38] hogstrom commented on #8
I'd agree with a service as you both indicated.  Something like zisCheckServerStatus makes sense to me.  Its concise and specific.

[2019-02-20 12:48] ifakhrutdinov commented on #8
The following pull-requests have been created:
* [Add a core service that returns status information (zowe-common-c)](https://github.com/zowe/zowe-common-c/pull/14)
* [Use the new cross-memory status service (zss)](https://github.com/zowe/zss/pull/10)

[2019-02-22 15:21] 1000TurquoisePogs opened #11 "Add http no-cache headers to i/o apis"
/unixfile, /datasetcontents, /datasetmetadata and /vsamdatasetcontents serve potentially sensitive information, and therefore shouldn't be cached by the browser.
To fix, we'd need to add the headers "Cache-control: no-store" and "Pragma: no-cache" to these services in order to secure them.

[2019-02-28 10:25] ifakhrutdinov opened #13 "Plug-in system for the ZSS Cross-Memory server"
Currently the cross-memory server doesn't have a mechanism to extend its functionality via 3rd party components and it is obvious that vendors may want to add new services without having to provide their own version of the server.

To solve this issue, the cross-memory server needs be able to extend its set of services via external load libraries.

Main new features:
* New services can be added by

[2019-02-28 13:47] dmitrynikolaev commented on #5
`scripts/zowe-copy-proc.sh` can't be re-used for xmem installation:

    * we need to deploy PARMLIB, LOADLIB and PROCLIB not only PROCLIB

    * the existing script works in TEXT mode only

    * it expects a certain context (variables and temp datasets) set up in `zowe-install.sh`

[2019-02-28 13:48] dmitrynikolaev commented on #5
https://github.com/zowe/zowe-install-packaging/pull/387

[2019-03-01 10:33] #5 closed

[2019-03-15 15:23] ifakhrutdinov opened #15 "Support z/OS 2.4 in ZSS"
Currently there is an explicit check that prevents ZSS from starting on z/OS > 2.3. This check needs to be changed to include 2.4.

[2019-03-27 09:27] std4lqi commented on #15
Can I know whether it could be part of the next release 1.0.2? Thanks!

[2019-03-27 16:04] vvvlc opened #18 "ZIS status - Permission denied (name='ZWESIS_STD ', zisRC=8, cmsRC=33, srvcRC=0, clientVersion=2)"
I was not able to login to Zowe Desktop.

`ZOWESVRV` STC contained an error message
[code]
**Solution**:
In my case STC user assigned to ZOWESVR did not have ZWES.IS.

[2019-03-27 16:04] #18 closed

[2019-03-27 18:05] #11 closed

[2019-03-27 18:06] 1000TurquoisePogs commented on #8
Closing this one due to merges. Reopen this if whatever version comes after 1.0.1 still has this issue.

[2019-03-27 18:06] #8 closed

[2019-03-27 20:19] ifakhrutdinov commented on #15
@1000TurquoisePogs do we still have time before the code freeze? I made a PR. Although I don't have a 2.4  system to test, I got the new constant value form a z/OS 2.4 system at IBM.

[2019-04-01 11:56] ifakhrutdinov opened #20 "Print build time of the ZSS Cross-Memory Server"
@dmitrynikolaev pointed out that it'd be helpful to know the build time of the ZWESIS01 module so that automation could verify that the expected version got loaded.

The following message:
[code]
could be changed to include the build date/time:
[code]

[2019-04-12 12:55] ifakhrutdinov commented on #13
Pull-requests https://github.com/zowe/zss/pull/14 and https://github.com/zowe/zowe-common-c/pull/16 have been approved, tested and merged.

[2019-04-12 12:55] #13 closed

[2019-04-16 14:41] std4lqi commented on #15
Hi, can I know any update of merging it into the next release? Thanks!

[2019-04-30 14:20] ifakhrutdinov commented on #15
The fix been merged to the staging branch and should be available in next release.

[2019-04-30 14:24] ifakhrutdinov opened #27 "Add the option to continue the execution of ZSS on an unsupporetd z/OS"
* ZSS should read a parameter that will allow it continue the execution if it's been started on a z/OS version that's not supported
* Print a warning message ZSS has been started on an unsupported z/OS

[2019-05-05 09:11] rjmaomao opened #33 "zssServer failed with new zos version"
Hi,

I'm running into issue where zssServer failed to start. In log file I saw following info. I know zOS 2.4 is not released yet. But could you please still take a look? Thanks!

_168:/Z2/var/zowert/1.1.0/zlux-app-server/log $ cat  zssServer-2019-05-01-14-17.log
CEE5207E The signal SIGABRT was received.
error: z/OS version = 0x01020400, max supported version = 0x01020300 - CAA fields require veri

[2019-05-06 07:36] dmitrynikolaev commented on #33
z/OS 2.4 support has been added to Zowe v1.2.0

https://github.com/zowe/zss/issues/15

[2019-05-06 08:35] rjmaomao commented on #33
Thank you, I'll try 1.2.0.

[2019-05-07 06:10] rjmaomao commented on #33
Verified 1.2.0 fixed the issue. Thanks!

[2019-05-07 06:10] #33 closed

[2019-05-31 13:44] 1000TurquoisePogs opened #43 "Unix file directory list initiates download instead of JSON display"
Possibly due to content-type header or disposition header, we see application/x.directory for directories instead of application/json

[2019-06-11 12:18] ifakhrutdinov opened #50 "Handling of bad volumes in dataset services"
The dataset services should handle offline/bad volumes better.

[2019-08-09 20:25] #50 closed

[2019-09-12 07:44] ifakhrutdinov opened #84 "Add messages to ZIS status codes"
At the moment the ZIS status may display error information without description messages. We should cover more return codes to make the service process easier.

[2019-10-09 12:55] NolanRogers opened #461 "ZSS API Versioning"

[2019-10-15 02:13] OnnoVdT opened #94 "bring SAMPLIB in line with CUPIDS epic"
With the CUPIDS epic we're reworking the install, configuration, and runtime experience for Zowe, for example by providing an SMP/E-managed install scenario.
Part of this epic is reworking configuration so all variables are defined together and all config work has the same look and feel to show Zowe as a single product instead of cobblepot, and to simplify customization scripts.
To have ZSS fit in

[2019-10-15 02:24] OnnoVdT opened #95 "Clean up comments in config member ZWESIP00"
The comments in samplib/zis/ZWESIP00 are incomplete and do not line up with what is in the online documentation, so somebody who knows what the configuration options are should review this file and clean it up, together with the matching online documentation.
Once all the data is in, I can help with tweaking the look and feel to make it fit in with the rest of Zowe sample members.

* document how

[2019-10-15 17:56] OnnoVdT commented on #95
looking at the online docs again, I now see that they use the wrong term. It's the FACILITY *class* but the ZOWE *profile*, not class.

[2019-10-21 15:24] ifakhrutdinov commented on #94
@OnnoVdT when would you need these changes?

[2019-10-21 22:01] OnnoVdT commented on #94
We would like to deploy them with 1.7.0. Right now we have some hacks in place in zowe-install-packaging to mimic the renames so that our 1.7.0 staging install already works. If you can confirm that these changes will be in 1.7.0 we can add a hack for the content as well so that we can work on the final customization routines too.

[2019-11-14 08:51] ifakhrutdinov commented on #94
Hi @OnnoVdT , I've looked at the changes. Here's some comments.

* ZWESASTC.jcl
  * The original STC name (ZWESAUX) is used in the code as the default name, and it will have to be updated, otherwise customers will always have to use additional config parameters. Is it really impossible to use the same name for loadlibs and STCs? Do you store everything in the same dataset?
  * I believe the `PROC`

[2019-11-14 13:18] OnnoVdT commented on #94
Hi Irek
Having duplicate part names complicates the SMP/E build process, and future management of the parts, as you always have to specify which one you're talking about. Do note that as part of the config step at the customer site, the sample as we ship it is copied over to another library, in which case a rename back to ZWESAUX is always an option. We currently already have renames in this copy

[2019-11-14 13:19] OnnoVdT commented on #94
forgot to mention that in the latest zip I updated the name to ZSS Cross Memory server

[2019-11-14 13:28] daveyc commented on #94
It's true that SMP/E doesn't like duplicate part names even for different types. IBM complained about this to us many years ago.

[2019-11-15 09:42] ifakhrutdinov commented on #94
That's just the default name we expect. For extensions where AUX is used, there will be an option to specify their own name, but that'd be nice if customers didn't have to do that by default.

[2019-11-15 18:29] OnnoVdT commented on #94
Good to know that there already is an option to specify the name.
I propose we then give it a unique name for packaging, and during customization copy it to the staging proclib with the desired default name.

[2019-11-18 22:20] ifakhrutdinov commented on #94
If we can automatically rename the started task JCL later, we should be fine I think.

[2019-11-20 13:58] OnnoVdT commented on #94
During the CUPIDS meeting today we discussed the naming of the Zowe SAMPLIB members, and the consensus is to use slightly different names than I used in this issue. Basically we would like to use ZWEXM* to indicate the file belongs to the main ZSS server, and ZWEXA* for the auxiliary server. Note that these are shipping names, renaming the aux server back to ZWESAUX (or customer specified name) du

[2019-12-06 07:00] gatogatogato opened #122 "ZSS address space - S0C4 RSN=00000011"
I'm not sure if this is the right place to report this but I am currently trying to get ZOWE running but right after the startup of the ZSS address space starts I see these messages and then it crashes:
[code]
The dump is a SYSTEM COMPLETION CODE=0C4  REASON CODE=00000011

[2019-12-10 16:17] ifakhrutdinov commented on #122
@gatogatogato are those the only messages you have in the log? Have you captured a dump?

[2019-12-11 07:38] gatogatogato commented on #122
@ifakhrutdinov These are all messages in the log indeed. I did capture a SYSMDUMP.

[2019-12-11 12:56] ifakhrutdinov commented on #122
@gatogatogato Can you please share your ZWESIS STC JCL content?

[2019-12-11 13:23] gatogatogato commented on #122
@ifakhrutdinov It looks like this (comments excluded for readability)
[code]
The LOADLIB is APF authorized and contains the load module ZWESIS01
The STC is named ZOWESIS and runs as user ZOWESIS.

[2019-12-11 13:31] ifakhrutdinov commented on #122
Thanks, this looks good.

If possible, can you copy-paste info about the registers, PSW, etc at the time of the ABEND?

And if you can capture an SVC dump, that'd be even better. Not sure how it'd be transferred but we could probably extract some info from IPCS.

[2019-12-11 13:43] gatogatogato commented on #122
Dump info below:
[code]
Thanks for the support!
I think we are not allowed to upload dumps on Github :(

[2019-12-11 13:50] ifakhrutdinov commented on #122
According to the PSW it was running in key 8 (must be in key 4). Although it shouldn't have caused that S0C4, I think the key issue needs to be addressed first.

Have you added the required entries to PPT? You can check that using `D PPT,NAME=ZWES*` operator command. Please copy-paste the output here (it shouldn't contain any sensitive information).

[2019-12-11 14:00] gatogatogato commented on #122
I have these entries in the SCHED00 parmlib member and we IPLed the system since first entered them.
PPT PGMNAME(ZWESIS01) KEY(4) NOSWAP
PPT PGMNAME(ZWESAUX)  KEY(4) NOSWAP
Also I dynamically activated those be using the SET SCH=00 command. The D PPT command shows this:
[code]

[2019-12-11 14:06] ifakhrutdinov commented on #122
Okay, this looks correct.

Can you go to the load library datasets (`=3.4` in ISPF), open it with `V` and tell what value `ZWESIS01` has in the `AC` column? Or just attach the screenshot from there if possible.

[2019-12-11 14:15] gatogatogato commented on #122
Does that work?
![Screenshot](https://user-images.githubusercontent.com/737459/70628630-c786ef00-1c28-11ea-8acd-9a3e6eea77eb.png)

![Screenshot hex](https://user-images.githubusercontent.com/737459/70628721-f56c3380-1c28-11ea-9222-c8fd94cbce49.png)

[2019-12-11 14:19] ifakhrutdinov commented on #122
Sorry, I meant the member view, not the actual content of the load module :)

![image](https://user-images.githubusercontent.com/34161978/70629043-9824b200-1c29-11ea-9623-4317cc855b57.png)

[2019-12-11 14:20] gatogatogato commented on #122
No problem. Looks like this:
[code]

[2019-12-11 14:27] ifakhrutdinov commented on #122
Okay, then just to make sure, can please you issue `D PROG,APF,DSNAME=you-dataset-name` and paste the output?

Also, is the volume displayed in the output the same as you expect? If it shows `SMS`, is the PDSE dataset you use SMS-managed?

[2019-12-11 14:34] gatogatogato commented on #122
D APF command output shows this:
[code]
The dataset is SMS managed for sure.

[2019-12-11 15:07] ifakhrutdinov commented on #122
I've been able to reproduce the ABEND by removing the module from PPT and running it in key 8, though I got the appropriate messages in SYSPRINT
[code]

Trying to figure out why ZWESIS01 would start in key 8 on your system...

[2019-12-11 23:00] gadyck commented on #122
When the problem occurred did you get the following message in the joblog-
  IEF188I PROBLEM PROGRAM ATTRIBUTES ASSIGNED
If so, then there was a dataset APF authorization issue that prevented honoring the PPT entry.  If not, then the PPT entry was missing.

[2019-12-12 06:44] gatogatogato commented on #122
@gadyck I did not get the `IEF188I` but as you can see above I checked for the correct PPT entries (see https://github.com/zowe/zss/issues/122#issuecomment-564554790).
I'm not sure if the dataset must be APF authorized at IPL but as I am in a testing phase for ZOWE I'd rather set the APF authorization dynamically.

[2019-12-12 09:02] ifakhrutdinov commented on #122
@gatogatogato dynamic APF-authorization should be ok.

[2019-12-12 12:13] ifakhrutdinov commented on #122
@gatogatogato can you please check if the ZWESIS01 module is (for some reason) in LPA?

`D PROG,LPA,MODNAME=ZWESIS01`

[2019-12-12 12:22] ifakhrutdinov commented on #122
We can also make sure that the correct `ZWESIS01` gets loaded. If you rename it to `ZWESIS02` you should get an S806 ABEND.

[2019-12-12 12:50] ifakhrutdinov commented on #122
@gatogatogato also, if possible, can you include

* *all* STC output?
* Do `I` in front of the load library (`XXXX.ZOWE.LOADLIB`) in ISPF and show the results

Thanks

[2019-12-12 12:56] gatogatogato commented on #122
It's not in LPA:
[code]

S806 occurs when I rename the load module as expected
[code]

Dataset info:
[code]

[2019-12-12 14:15] gatogatogato commented on #122
Here you go
[ZOWESIS.JOBLOG.txt](https://github.com/zowe/zss/files/3956111/ZOWESIS.JOBLOG.txt)

[2019-12-12 14:28] ifakhrutdinov commented on #122
Thank you. Okay, now PSW shows key 4.

[2019-12-12 14:38] gadyck commented on #122
The failing PSW is at the same point in the code as when it was running with key 8, so the failure is *not* related to the storage key.  It is occurring before the storage key is of concern.

R14 contains x'6FE6' and R15 contains x'1A', so the LLGC R14,0(R15,R14) instruction just stepped over the page boundary.  This is probably a valid issue that needs to be fixed.

[2019-12-12 14:38] ifakhrutdinov commented on #122
@gatogatogato I think I may know what the cause of your S0C4.

I'd like to make a change, but I don't know how I'd give you the module.

[2019-12-12 14:40] ifakhrutdinov commented on #122
@gadyck Yes, here's the code that causes it

[code]

The `sizeof(mainParms)` must be `sizeof(*mainParms)` or `sizeof(ZISMainFunctionParms)`.

[2019-12-12 15:22] ifakhrutdinov commented on #122
@gatogatogato

Below if a ZIP archive with the build from #125 pull request. You'll find a PAX archive inside which you can decompress using `pax -ppx -rf zss-1.8.0-pr-125-1-20191212145708.pax`, The load module will be in `LOADLIB/ZWESIS01`. Copy it using `cp -X LOADLIB/ZWESIS01 "'//XXXX.ZOWE.LOADLIB'"`.

The pax was downloaded from https://gizaartifactory.jfrog.io/gizaartifactory/libs-snapshot-lo

[2019-12-12 17:02] gatogatogato commented on #122
Great job guys, impressive.
I'll try and test the fixed load module tomorrow at the office.

[2019-12-13 06:29] gatogatogato commented on #122
Fix seems to be okay, the server now does not crash any more. I'll attach the output from the STC job log for you to inspect.
[ZOWESIS.LOG.txt](https://github.com/zowe/zss/files/3959320/ZOWESIS.LOG.txt)

[2019-12-13 07:04] ifakhrutdinov commented on #122
Great news! Thank you for testing it.

[2019-12-13 07:11] gatogatogato commented on #122
I dicovered the MODIFY DISPLAY command just a little later. It shows key 4 now as expected:
[code]

[2020-01-06 21:58] jimmschlo89 opened #138 "ZSS Cross-Memory Server Starting, version 1.0.5"
Hello! When starting the Cross Memory Server I run into this issue:
![image](https://user-images.githubusercontent.com/49279914/71851880-28c1a700-309d-11ea-934f-9aec66c0c210.png)

I already saw a post that was fairly similar to this one (https://github.com/zowe/zss/issues/122). I tried uploading the recommended .pax file and replacing the LOADLIB member with the member from the unpaxed file, but t

[2020-01-06 22:00] jimmschlo89 commented on #138
@ifakhrutdinov This is the issue I just opened up.

[2020-01-06 22:41] ifakhrutdinov commented on #138
@jimmschlo89
* Have you added the appropriate PPT entry for the ZWESIS01 module? See [Add PPT entries to the system PARMLIB](https://docs.zowe.org/stable/user-guide/configure-zowe-runtime.html#manually-installing-the-zowe-cross-memory-server)
* Has the load load library been APF-autrhorized?  See [Add the load libraries to the APF authorization list](https://docs.zowe.org/stable/user-guide/configu

[2020-01-07 14:36] jimmschlo89 commented on #138
@ifakhrutdinov Yes, both have been done.

[2020-01-07 15:50] ifakhrutdinov commented on #138
@jimmschlo89 the items I mentioned are the only ones that could have caused that error.

Can you please do the following:
* Issue `D PROG,APF,DSNAME=your-dataset-name` and copy-paste the output
* Issue `D PPT,NAME=ZWES*` and copy-paste the output
* Go to the load library in ISPF and make a screenshot of the list of members, similar to:
[code]

[2020-01-07 16:12] jimmschlo89 commented on #138
![image](https://user-images.githubusercontent.com/49279914/71909719-32e3b400-3136-11ea-95cc-2c7b823201cb.png)

![image](https://user-images.githubusercontent.com/49279914/71909728-35dea480-3136-11ea-9a2e-2bf4e2e4754d.png)

![image](https://user-images.githubusercontent.com/49279914/71909739-3a0ac200-3136-11ea-8c9c-d987c975f5cd.png)

[2020-01-07 16:18] ifakhrutdinov commented on #138
@jimmschlo89 I can see that there is no PPT entry or the configuration hasn't been refreshed.

If you've added the entries to the config member, please issue the following command: `SET SCH=xx`, where `xx` is the suffix of the SCHED member you added the entries to.

For example, if the member is `SCHEDK1`, the command will be `SET SCH=K1`

[2020-01-07 16:21] jimmschlo89 commented on #138
@ifakhrutdinov I've added the entries to that member, its called SCHED00. Even after I do a `/SET SCH=00` (which works), I get the same response from `/D PPT,NAME=ZWES*`

[2020-01-07 16:52] jimmschlo89 commented on #138
@ifakhrutdinov Ok, all of that above is resolved. ZWESIS01 now starts. However ZWESAUX does not.

[2020-01-07 17:25] #138 closed

[2020-01-07 18:36] jimmschlo89 opened #139 "Zowe Communication Area Error"
![image](https://user-images.githubusercontent.com/49279914/71919406-3a14bd00-314a-11ea-937d-f9c95dd4436c.png)

I get this error when trying to run `/s ZWESAUX`. I cannot find any info on it.

[2020-01-07 18:37] #139 closed

[2020-01-07 21:44] jimmschlo89 opened #140 "MALLOC Issue?"
I'm seeing about 5 of these messages for different plugins within zowe. Not sure what they mean. Any help would be great!

![image](https://user-images.githubusercontent.com/49279914/71931995-a4d2f200-3164-11ea-8783-6f5a497a2086.png)

[2020-01-08 08:57] ifakhrutdinov commented on #138
@jimmschlo89 it's not started by default. It's used for some extensions and it won't prevent ZSS from using the cross-memory server.

[2020-01-24 15:18] Joe-Winchester commented on #15
@ifakhrutdinov - would it be possible to get a build that accepts z/OS 2.5 as a platform ?  It's hard coded to stop at 2.4 and for early testing it'd be good to have 2.5 tolerated.
**Note** - this does in any way announce or disclose the existence of a z/OS release that may or may not be called 2.5 and/or whether that may or may not become available at an undefined date in the future.

[2020-01-24 15:47] ifakhrutdinov commented on #15
@Joe-Winchester sure, https://github.com/zowe/zss/pull/145

[2020-01-27 14:37] ifakhrutdinov commented on #15
@Joe-Winchester I think the pax should be available [here](https://zowe.jfrog.io/zowe/webapp/#/builds/zss%20::%20PR-145/1/1579881083841/published%20/zss%20::%20PR-145)

[2020-01-30 15:28] Tam-Lin commented on #15
Why is there a maximum level of z/OS check anyway?  I can understand checking for a minimum supported level, but why check for a maximum level?

[2020-01-30 16:01] ifakhrutdinov commented on #15
I believe some of the data structures/fields used in the code may potentially change which likely happens with a new version z/OS. So limiting the max version ensures the code doesn't behave unexpectedly.

[2020-01-30 16:33] ifakhrutdinov opened #151 "ICFS error message is not printed"
The error message https://github.com/zowe/zowe-common-c/blob/master/c/httpserver.c#L1359 is controlled by the http server's log component which is initialized after the ICFS check. Because of that, the error message is never printed. The ZSS code needs to initialize the log level prior to the error message.

[2020-02-19 15:55] Tam-Lin commented on #15
One of the foundational values of z/OS is backwards compatibility; it's incredibly rare for IBM to make a change to a new level of z/OS that will prevent older software from running on it.  It makes sense to have functional dependencies on being on or above a given level of z/OS; it doesn't make sense to have a limit on a maximum level of z/OS.  There is software that was written in the 1960s that

[2020-02-21 15:50] 1000TurquoisePogs commented on #140
Fixed in https://github.com/zowe/zowe-common-c/pull/122 which I would expect to see in 1.9

[2020-02-21 15:50] #140 closed

[2020-03-19 14:44] hogstrom commented on #15
I suggest that instead of hard stopping, issue a ZWEnnnnW message that indicates that ZSS is starting above a tested z/OS version number and continue.

[2020-03-19 14:45] hogstrom commented on #15
This will continue to be an issue at every z/OS release cycle.  See previous comment on recommended approach.

[2020-04-02 10:27] Joe-Winchester opened #169 "File Editor 500 errors with zss log error CEE0802C - 1.10 rc2 testing"
**Testing 1.10 RC2.**
Open File Editor and drive it for a few minutes, expanding directories, creating directory and creating file, switching to Data Sets, back to USS.  After a period it throws 500 errors and ceases to function.

This is the error in the zssServer.log file
[code]

[2020-04-03 09:11] Joe-Winchester commented on #169
Tks @1000TurquoisePogs .  Is there a build with a fix that you'd like me and others to do some testing with ?   cc: @nkocsis and @stevenhorsman

[2020-04-03 16:33] 1000TurquoisePogs commented on #169
One is being built here https://wash.zowe.org:8443/blue/organizations/jenkins/zss/detail/PR-171/1/pipeline
@Joe-Winchester @stevenhorsman @nkocsis

[2020-04-03 20:05] Joe-Winchester commented on #169
I ran with this zss server for about 3 hours doing a bunch of different scenarios and it didn't crash on me so it looks much better - thank you.

[2020-04-29 17:55] 1000TurquoisePogs commented on #169
This was fixed, so closing.

[2020-04-29 17:55] #169 closed

[2020-05-05 16:33] 1000TurquoisePogs opened #179 "Provide option to register ZSS into APIML"
If APIML exists, it would be good to register ZSS into it. It could provide https "for free", without the need of AT-TLS.
static definition seems like a good first step since it should be easy, but there is a condition we must be careful of:
if AT-TLS is enabled or not will determine if the definition should state https or not

I think those who worked on the Explorers could provide some tips on h

[2020-05-05 16:36] 1000TurquoisePogs commented on #179
It seems that instanceBaseUrls has something to do with whether http/https is used. Anyway, it seems like the `configure.sh` step of the ZSS Component would need to rewrite this file if AT-TLS was switched on/off.

      instanceBaseUrls:
        - http://localhost:8080

[2020-05-18 10:54] ifakhrutdinov commented on #122
@gatogatogato, can we close this? I think the issue has been fixed.

[2020-05-18 10:58] gatogatogato commented on #122
This can be closed

[2020-05-18 10:58] #122 closed

[2020-06-08 18:08] ifakhrutdinov opened #189 "Validate environment during ZSS and ZIS start up"
ZSS needs to check:
* ICSF:
  * RNG, optional if SSO is being used
  * PKCS11, only if SSO is being used
* BPX:
    * Check state of BPX.DAEMON, BPX.SERVER

ZIS needs to check:
* The user has an OMVS segment

ZSS message improvements:
* ZIS status codes are light or missing descriptions:
  * Add a mapping of status codes to human readable description

[2020-06-30 14:16] ifakhrutdinov commented on #20
This was fixed by 7d34e7cc12f365d05bdbadd5918ac8f0bfff87cf

[2020-06-30 14:16] #20 closed

[2020-06-30 14:21] ifakhrutdinov commented on #151
Fixed by https://github.com/zowe/zowe-common-c/pull/143

[2020-06-30 14:21] #151 closed

[2020-07-30 10:26] John-A-Davies opened #199 "Build failed, DATA SET CSF.SCSFMOD0 NOT IN CATALOG"
My build on my local system failed with this message:
[code]
This is because CSF.SCSFMOD0 is not stored under that DSN on my system.

Suggestion:  Make DSNs of this kind into parameters in some `build.conf` file.  Default values for these DSNs will be the current values.

[2020-07-30 10:27] John-A-Davies commented on #199
@ifakhrutdinov @1000TurquoisePogs Please comment.

[2020-07-30 10:33] John-A-Davies commented on #199
Other hard-coded datasets are
[code]

[2020-08-10 16:17] John-A-Davies commented on #199
@ifakhrutdinov @1000TurquoisePogs Please comment.

[2020-08-10 16:24] John-A-Davies commented on #199
Something like build.conf

[2020-08-10 17:11] ifakhrutdinov commented on #199
@John-A-Davies a config file is a good idea. I think we also need to actually print a message if the datasets aren't found.

On the other hand, how often do these libraries live in non standard datasets?

[2020-08-11 08:24] John-A-Davies commented on #199
CSF.SCSFMOD0 is stored under that DSN on my ZD&T systems, but on my real, customer-like systems, it is not.  It's safest to assume that such datasets might be other than in the standard location.

[2020-10-01 18:20] 1000TurquoisePogs commented on #179
Closing due to being done in https://github.com/zowe/zss/pull/208/files

[2020-10-01 18:20] #179 closed

[2020-11-06 13:53] nosrednayduj opened #228 "zis-plugin-install.sh fails to propagate return code to caller"
If you give an invalid folder for the parmlib, error messages are printed, and obviously values are not entered into the zowe parmlib, and a zero return code is returned to the caller (so the caller thinks that all was well).

zis-plugin-install.sh extended-install myplugin/zisServer/loadlib nonexistantfolder

Yet the return value to the original caller is zero despite this printout.

It looks lik

[2020-11-26 11:36] John-A-Davies opened #232 "POST to datasetContents writes only the last record of the body"
I sent POST to URL

https://9.20.205.110:8544/datasetContents/TSTRADM.TEST.JCL(MEM1)

with body
[code]
to a new dataset TSTRADM.TEST.JCL containing one empty member MEM1
and the result was
[code]

[2020-11-26 11:44] John-A-Davies commented on #232
Another test was to POST
[code]
with body
[code]
with result
[code]

[2020-11-26 13:36] lchudinov commented on #232
@John-A-Davies Can you please try with
[code]

[2020-11-26 14:52] John-A-Davies commented on #232
[code]

[2020-11-26 16:54] lchudinov commented on #232
With `FB` datasets you have to pad records with spaces to make them as long as dataset record length.

[2020-12-07 15:19] John-A-Davies opened #234 "API URL does not work when DSN contains #"
If you use RESTClient to send a URL like this
https://localhost:8544/datasetEnqueue/USER.TEST.RECFM#V
then the request fails because only USER.TEST.RECFM is included on the DSN.

The file Editor does not have this problem, because it sends
https://localhost:8544/datasetEnqueue/USER.TEST.RECFM%23V

[2020-12-07 15:53] 1000TurquoisePogs commented on #234
`#` is used in most web implementations as something that is not sent to a server, but is instead used as client side hinting.
For example, if I go here `https://github.com/zowe/zss/pull/223/files#diff-779c40eb3445fea67e1fc27bbe78610da9a706be1c12d50059fdca85c3beb220R87` you will see that your browser instead goes to `https://github.com/zowe/zss/pull/223/files` which is just omitting everything aft

[2020-12-09 17:54] John-A-Davies opened #236 "ZSS API allows enqueued dataset to be updated by another user"
I used the WEBUI Editor to edit a dataset, which takes an exclusive SPFEDIT ENQ, visible in z/OS as
[code]
Then another user used Insomnia to POST an updated body to that same member, and this succeeded.  This should not be permitted.

[2020-12-10 08:59] John-A-Davies commented on #236
I think this is because, although the ENQ prevents other jobs from accessing the locked dataset, it does not prevent other users of the zssServer job itself from accessing them, even though the ENQ is taken in the name of the original user.

[2020-12-10 11:27] John-A-Davies commented on #236
[code]

[2020-12-10 17:57] John-A-Davies commented on #236
I have a fix for this.

[2021-01-07 11:05] plavjanik opened #244 "/saf-auth service uses hardcoded class ZOWE instead of the class specified in the URL"
The https://github.com/zowe/zss/blob/master/c/authService.c is documented as:

[code]

but this fails with "Unexpected access level".

This format works:
[code]

Is it intentional? Is it possible to use a different resource class than ZOWE?

What are the possible ways how to authenticate? Basic auth works, is it possible to use the Zowe JWT token?

[2021-01-16 06:18] NakulManchanda opened #464 "Enhance ZSS build pipeline to add end user test ZSS Rest API"
Add ZSS End User API Testing to its Jenkins pipeline.
Start coverage with edit datasets API.
Testing is critical to functionality as its involves locking resources.

Goal: Keep testbed effective by adding more automated tests for ZSS APIs since recent API additions & enhancements have some harder to test issues like testing against timing & contention

[2021-01-20 10:20] ifakhrutdinov opened #250 "Avoid using AUX communication PC for termination"
#### Problem description
The AUX address space can run with `REUSASID=NO`. When it does, it will leak the ASID every time it's terminated because it uses a system LX for its communication PC. Using a non-system LX is not an option because once the parent (ZIS) issues `ETCON`, the AUX address space will be converted to non-reusable, again, leading to leaking the ASID.

#### Proposed solution
Since

[2021-01-22 16:00] ifakhrutdinov commented on #236
@John-A-Davies is this for GA code? I don't think we do acquire enqueues.

[2021-01-22 16:10] John-A-Davies commented on #236
Yes, the fix is targeted at GA code.  Please refer to line 1107 in file `datasetjson.c`.

[2021-01-22 16:12] John-A-Davies commented on #236
@struga0258 This would make a good test case.

[2021-01-22 16:14] ifakhrutdinov commented on #244
@plavjanik looks like only ZOWE is allowed and your error is caused by the class you put into the URL. Basically that comment is incorrect and needs to be changed.

As for the hardcoded class, I believe it was intentional. Allowing users to check any user against any class/profile may cause security issues. There are others layers of protection against this but we decided to keep the hardcoded cla

[2021-01-22 16:34] ifakhrutdinov commented on #236
Here's the code around 1107:
[code]
What is the issue here?

[2021-01-22 16:39] struga0258 commented on #236
@John-A-Davies I will create a test ticket and start writing automation. thanks!

[2021-01-22 16:59] ifakhrutdinov commented on #236
@John-A-Davies but there are no dataset enqueues in the GA code and the title mentions them. Why do we need an issue for code which hasn't been written/merged?

* If there is an issue in the GA code, please provide the instructions applicable to it, also correct the title.
* If this is applicable to future code only, then we need to close the issue.

[2021-01-25 05:58] #250 closed

[2021-01-25 11:00] John-A-Davies commented on #236
You're right - this is not a defect in GA code.  It was a lack-of-feature in the new code in my `dsedit#498` branch.

The code to fix this issue has already been added, in this branch:  https://github.com/zowe/zowe-common-c/blob/dsedit%23498/c/datasetjson.c, from line 1096.

I added this issue as a placeholder, to make sure it was not forgotten.

Closing as it's now fixed.

[2021-01-25 11:00] #236 closed

[2021-01-26 20:38] 1000TurquoisePogs opened #460 "CLI plugin for ZSS APIs"

[2021-01-27 10:36] John-A-Davies opened #253 "zowe server log message mentions 27.0.0.1 for localhost"
**Describe the bug**
The Zowe server log in JES has this message
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to host running zowe
2. Click on SDSF zowe jobs
3. Scroll down to the message
4. See error

**Expected behavior**
The Zowe server log in JES has this message
[code]
**Screenshots**
[code]

[2021-01-28 14:27] 1000TurquoisePogs opened #459 "Automated test of zss api for contention checks"
Create automated test for DS locking/writing

HTTP method | URI | Dataset | action
-------------------------------------------+------
1 GET | /datasetEnqueue | DATA.SET.NAME | ENQ
2 GET | /datasetContents | DATA.SET.NAME | GET
3 POST | /datasetContents | DATA.SET.NAME | PUT
4 DELETE | /datasetEnqueue | DATA.SET.NAME | DEQ

We can start at this level. These are actions people would try to do in gen

[2021-03-11 14:52] jthyssenrocket opened #264 "S0C4 on Zowe 1.19.1 with ZWED_agent_http_ipAddresses=0.0.0.0"
If I add
ZWED_agent_http_ipAddresses=0.0.0.0
to my Zowe instance.env then zssServer dies with:

[code]

As soon as I remove ZWED_agent_http_ipAddresses then zssServer starts fine

[2021-03-11 15:18] 1000TurquoisePogs commented on #264
The env var config is correct, but the crash is unexpected. However, I tried this same thing on 1.19 and it worked fine for me, so it seems that there is an inconsistent memory issue that some users will experience but not others. we'll look into it more.

[2021-04-02 13:12] DivergentEuropeans opened #455 "Implement RBAC in ZSS"

[2021-04-08 08:13] vit-tomica opened #277 "A message about data service installation failure"
There used to be a message about a failure of data service installation in zss.
https://github.com/zowe/zowe-common-c/blob/master/c/dataservice.c#L118-L120

We find the message useful as we can spot the failure immediately in the log without switching to debug mode.

Could it be set at least to WARN level? Similarly, the same for other messages that indicate a failure:
https://github.com/zowe/zowe

[2021-04-28 17:45] 1000TurquoisePogs commented on #264
It seems this got fixed in 1.21 if not earlier, and was caused by a limitation in environment variable reading. I recall the team checking that a fix worked for @jthyssenrocket . If it still appears in 1.21, we can reopen and continue investigation.

[2021-04-28 17:45] #264 closed

[2021-04-29 14:42] 1000TurquoisePogs opened #291 "Migrate dataset REST api out of zowe-common-c and into zss"
zowe-common-c is a repo for libraries, not REST APIs which would depend upon/make use of those libraries.
Yet, we have our dataset REST API logic for zss within zowe-common-c. This is technical debt and should be solved by moving datasetjson.c and possibly other related files out of zowe-common-c and into the zss repo.

[2021-04-29 15:37] 1000TurquoisePogs opened #463 "Dynamic (runtime) compression of REST API data (ZSS)"

[2021-04-29 21:38] NakulManchanda commented on #463
FYI @1000TurquoisePogs @struga0258
We should plan zowe/zss#464 item as early as possible, it will help us with all the API changes.

[2021-05-06 10:22] achmelo opened #294 "ZSS is not able to read SO token on ACF2"
This feature properly works for TSS and RACF but on ACF2(marist-2) we get an error message ZWES1030W Server startup problem: Could not load the JWT key 'ZWETOKEN' from token 'jwtsecret': rc '12', p11rc '0', p11Rsn '0' .
More info in https://wash.zowe.org:8443/job/zowe-install-test/view/change-requests/job/PR-2053/18/consoleFull
PR https://github.com/zowe/zowe-install-packaging/pull/2053

[2021-05-06 14:06] 1000TurquoisePogs commented on #294
Seems to be known by jack at https://github.com/zowe/zowe-install-packaging/issues/2052 but not sure what the fix will be yet.

[2021-05-06 14:29] achmelo commented on #294
Issue 2052 has been solved. Now the issue is that SO token is being created but for some reason ZSS is not able to read it on ACF2. The same setup works and being tested on TSS and RACF. I would like to ask you for help in debugging this issue.

[2021-05-06 14:32] achmelo commented on #294
you can see in the logs I provided that token ZWETOKEN with label jwtsecret exists, so the error is strange: ZWES1030W Server startup problem: Could not load the JWT key 'ZWETOKEN' from token 'jwtsecret': rc '12', p11rc '0', p11Rsn '0' .

 P11TOKEN BIND TOKEN(ZWETOKEN) CERTDATA(ZWESVUSR.JWTSCRT)
     Token name: ZWETOKEN

     Sequence Labels                                Attributes
     --------

[2021-05-06 15:01] achmelo commented on #294
There is an issue with my latest updates related to this https://github.com/zowe/zowe-install-packaging/issues/1779

[2021-05-07 01:01] 1000TurquoisePogs commented on #294
OK, making a debug build for this but what I see so far is that jwt.c uses any of these commands to work https://github.com/zowe/zowe-common-c/blob/master/jwt/rscrypto/rs_icsfp11.c#L16-L38
Basically all the function calls that start with "rs_icsfp11" within jwt.c

[2021-05-07 12:52] 1000TurquoisePogs opened #296 "Switch /unixfile mixed-tag encoding behavior to binary"
Currently /unixfile/contents tries to convert encoding of files with mixed tag. But this action can loose binary part of these files. From chtag manual page:

  -m
           Indicates that the file contains mixed text and binary data. The data
           is not uniformly encoded, but to identify the encoding of portions of
           the file that are text, this option allows the specifications o

[2021-05-13 10:47] Martin-Zeithaml opened #297 "Need to run ZWESAUX for zACS"
According to this image, it seems, that ZWESAUX is managing PC calls:
![image](https://user-images.githubusercontent.com/66114686/118114852-6f898480-b3e8-11eb-8ec0-432dd849c815.png)

So I need to have ZWESAUX running to be able to perform PC (program call) scan, which I need for IBM Authorized Code Scanner (zACS).

I read the documentation and search in these issues and I understand, that this mod

[2021-05-13 14:50] Martin-Zeithaml opened #298 "Zowe cross memory server parmlib reader supporting in-stream"
It would be good, at least for developing and testing to have possibility to use in stream parameters, e.g.:

[code]

[2021-05-14 13:10] 1000TurquoisePogs commented on #297
You need a ZIS plugin to invoke AUX, so you can try this one
https://github.com/ifakhrutdinov/zss-sample-plugin/tree/master/zisServer
But without any plugins, ZIS makes one or two PC calls by itself.

[2021-06-04 14:06] 1000TurquoisePogs opened #303 "Disable tls renegotiation in zss gskit"
There is an env var that controls how gskit renegotiation works or if it is disabled. This should be put into start.sh as disabled by default, but linked to an instance.env param (not present by default) named ZWED_agent_https_renegotiation

[2021-06-07 07:59] achmelo commented on #294
Were you able to find something with debug build?

[2021-06-09 14:53] #303 closed

[2021-07-28 12:45] #297 closed

[2021-07-28 16:48] #244 closed

[2021-07-28 16:48] 1000TurquoisePogs commented on #244
Closing because this is old and intentional as Irek said. If we want to make an API that allows different classes to be used, it should be possible but let's resurrect the conversation if needed.

[2021-08-13 13:38] 1000TurquoisePogs opened #465 "Installing Zowe's ZIS datasets can freeze CLI if done via CLI"

[2021-09-10 20:05] AdarshdeepCheema opened #458 "ZSS- UnixFile GET metadata API request gives - 404- File not found"
open the API Catalog and try to use the ZSS Unixfile API to get the metadata of any file/directory

you will get 404 for all requests for the following FAILING SCENARIOS

FAILING CASE:
1) when we have '/' in the directory path
directory -> u/adarsh
filename -> testing
=> curl -X GET "https://TVT5xxx.svl.xxx.com:7554/zss/api/v1/unixfile/metadata/u%2Fadarsh/testing" -H "accept: application/json"

2)

[2021-10-22 11:36] BartS07 opened #462 "ZSS - Editor Open dataset causing Json: conversion error"

[2021-10-25 02:04] 1000TurquoisePogs opened #365 "Trust APIML SSO without PKCS11 storage"
PKCS11 storage is currently used in SSO to hold token trust info that ZSS needs to read in order to verify an APIML SSO token. However, APIML generates tokens using a keystore or keyring instead of PKCS11.

We have encountered several issues with PKCS11 such as
- More setup needed. Yet another place to store info, and needs extra ESM permissions to use.
- RACD commands do not have enough parameter

[2021-10-25 02:09] 1000TurquoisePogs opened #366 "zss v2"
This ticket tracks tasks necessary to do for zss by the zowe v2 deadline.

in progress:
* zss 64 bit #703 ~95% done

* trust apiml sso without pkcs#11 #365

not started:
* update all var names to be ZWE_ and ZWED and ZWES consistently

[2021-10-25 02:14] 1000TurquoisePogs opened #367 "Document zss error codes"
Put each message of https://github.com/zowe/zss/blob/staging/h/zssLogging.h into zowe doc site with explanations and suggested user actions for each message.

[2021-10-25 02:19] 1000TurquoisePogs opened #457 "JES API for ZSS"
This epic tracks the implementation of an API which will allow for at minimum,
* a user to submit a job provided either JCL or a dataset/file containing JCL (both would be great for flexibility)
* a user to get job info for jobs owned by themselves
* to cancel own jobs if running
* to do these tasks without relying upon extra configuration. 0-config system-call based API is desirable for simplicit

[2021-11-23 09:14] petacz opened #373 "JWT logging not ducumented"
PR #329 added JWT logging parameter _zss.jwtTrace but it is not documented in https://docs.zowe.org/stable/user-guide/mvd-configuration/#enabling-tracing-for-zss

[2021-11-24 15:02] balhar-jakub opened #374 "Install ZOWE 1.24.0 in SAF keyring"
@GilPen commented on [Fri Oct 29 2021](https://github.com/zowe/api-layer/issues/1869)

Hello

I'm trying to upgrade 1.20.1 version to 1.24.0 and I would like to install certificates on a SAF keyring at the same time.

Unfortunatly, the ZLUX port 8544 is not listening for the ZWESVSTC STC.

In the app log, you can see the error message "ZWED0151W - unhandledRejection  TypeError: Cannot destructure

[2021-12-03 14:03] #366 closed

[2021-12-08 19:40] #365 closed

[2022-02-10 14:28] Martin-Zeithaml opened #404 "Unable to compile zss when DEBUG is defined"
1) #define DEBUG
2) build_zss.sh
3) Compilation fails [here](https://github.com/zowe/zss/blob/e0ae9499abd5ca140a59ae2cae08e1aeb4890eff/c/omvsService.c#L287):
[code]
Note: if the [code](https://github.com/zowe/zss/blob/e0ae9499abd5ca140a59ae2cae08e1aeb4890eff/c/omvsService.c#L287) was bypassed, the compilation was successful.

[2022-02-10 14:29] 1000TurquoisePogs commented on #404
I've encountered this before too. Someone made a mistake in the code, we should fix it.

[2022-02-10 15:19] Martin-Zeithaml commented on #404
Wrong reference of status, I guess. An attempt to fix:
[code]

[2022-02-15 14:02] Martin-Zeithaml opened #409 "Error ZSS 500 on desktop login"
Hi,
I am receiving the ZSS error 500 when trying to log to the desktop:
[code]

Also I have noticed, that I am receiving Connection reset for curl POST:

[code]
instance.env: ```ZOWE_ZSS_SERVER_PORT=8542```
Zowe job log: ```ZWES1013I ZSS Server has started. Version '1.25.0+20211013'```

Any help is appreciated.
Thanks, Martin

[2022-02-15 14:12] 1000TurquoisePogs commented on #409
Hi Martin,
Are you sure ZSS is using http? These days, it uses HTTPS by default.

[2022-02-15 19:30] 1000TurquoisePogs commented on #409
Do you get code ZWES1601I  or ZWES1605W  in the logs?

[2022-02-15 20:11] Martin-Zeithaml commented on #409
I can find the first one:
```ZWES1601I Server is ready to accept JWT without fallback to legacy tokens```

[2022-02-15 20:56] 1000TurquoisePogs commented on #409
Can you try turning on zss low-level logging to see if you get any good http-level info?
https://github.com/zowe/zlux/wiki/Loggers:-Core-loggers-for-App-Server-&-ZSS#loggers-for-zss-server-core
it's going to need an edit to `workspace/app-server/serverConfig/server.json` such as
"logLevels": {"_zss.traceLevel": 5}

What I'm curious about is... is it sending a malformed HTTP message? Perhaps there'

[2022-02-15 21:03] Martin-Zeithaml commented on #409
I know these debug options, this was already set, but I was not able to determine the problem:
[code]

I will send you the job log.

[2022-02-16 11:31] #404 closed

[2022-02-22 12:18] JirkaAichler opened #415 "Security issue with a /verify endpoint for IDT validation"
ZSS `/verify` endpoint is currently accepting only IDT that it should be validated.

It should also accept an APPLID of the service and check whether it matches the APPLID for which the token is valid.

[2022-02-22 13:06] 1000TurquoisePogs commented on #415
Is it being resolved here? https://github.com/zowe/zss/pull/403

[2022-02-22 13:07] 1000TurquoisePogs commented on #409
I believe Martin said that upgrading to 1.27.0 fixed this specific problem, but others have reported similar issues so there still may be a bug somewhere.

[2022-02-22 13:09] JirkaAichler commented on #415
No, it solves generating IDT and not validating.

https://github.com/zowe/api-layer/pull/2083 is adding an APPLID to verify ZSS requests.

[2022-02-22 13:09] Martin-Zeithaml commented on #409
Yes, I can confirm that upgrading to 1.27.0 fixed that. And the Editor is working fine.

[2022-03-02 09:54] JirkaAichler commented on #415
I just tested it and it seems to be working fine. Thanks, everyone!  Closing issue.

[2022-03-02 09:54] #415 closed

[2022-03-04 16:50] 1000TurquoisePogs opened #425 "Reduce / Eliminate ZWES1606W under normal circumstances"
# Background
In 1.27 JWT becomes automatic and therefore the default. It became that way because the requirements for it were simplified where the PKCS11 region is no longer needed. However, ZWES needs to contact ZWEAG to initialize JWT use, and ZWEAG is not ready for this call as quickly as ZWES, so a warning is issued and a retry is attempted every 30 seconds until ready. At this time we don't h

[2022-03-04 17:49] 1000TurquoisePogs opened #426 "Making a nice side file"
Let's make a side file that will serve as our contract between zss and plugins. If plugins try to call functions not in this list, we do not recommend it because things not found in the list are treated as internal functions that could be changed unexpectedly. But, functions in this list should be trustworthy and hopefully will have better documentation over time.

[2022-03-04 17:50] 1000TurquoisePogs commented on #426
Idea 1
[code]

[2022-03-04 17:50] 1000TurquoisePogs commented on #426
Idea 2
[code]

[2022-03-04 17:55] 1000TurquoisePogs commented on #426
`zisCallNWMService` probably shouldnt be in this list because `zisCallService` is the more flexible, generic one.
`recoveryPush2` may not exist yet.
are we missing more zowelog-related functions like `logGetLevel`

[2022-03-10 19:17] 1000TurquoisePogs opened #429 "Single User Mode ZSS"
Today, if you want to install Zowe on z/OS, the usual prerequisites are that you setup z/OSMF, get nodeJS, get an STC user, permit access to several network ports for this user, setup certificates, and give the user several ESM permissions.

A common scenario of Zowe first-time users is they want to just setup a demo system to see what Zowe can do for them. Getting all the prereqs and permissions

[2022-03-23 13:14] 1000TurquoisePogs opened #437 "Log formatting"
Some ZSS logs now have message IDs
Yet, many don't
And none of them have timestamps.
This makes troubleshooting more difficult.
We've tried to implement the format in https://github.com/zowe/zac/issues/90 multiple times and PRs have never finished.
Please lay out rules to follow with logs so that PRs on the subject will succeed.

Previous discussions said things like
- Don't log library code, use

[2022-03-23 15:54] 1000TurquoisePogs commented on #437
debug-level tracing really should have logs pervasively, though info-level shouldnt appear in library code since library code should be using RC/RSN instead.

[2022-03-23 15:55] 1000TurquoisePogs commented on #437
timestamps must not break ZIS messages (it already has its own)

[2022-03-23 16:00] 1000TurquoisePogs commented on #437
Many code comments of old conversations here
https://github.com/zowe/zowe-common-c/pull/126
https://github.com/zowe/zss/pull/160
https://github.com/zowe/zowe-common-c/pull/70

[2022-03-24 09:53] Martin-Zeithaml commented on #409
After upgrading to 1.27.1 there was an issue with accessing JES/MVS/USS explorers. The problem was solved by using other certificates (certificates from working LPAR with NONSTRICT_VERIFY_CERTIFICATES option). Since the problem was on customer's machine, we did not get the old certificates for analysis so the root of the problem is unknown.

[2022-03-24 09:53] #409 closed

[2022-04-08 12:54] DivergentEuropeans opened #456 "Update zis-plugin-install.sh script to work with V2"

[2022-04-13 15:37] #15 closed

[2022-04-13 15:38] JoeNemo commented on #15
This is fixed and is a stale issue.

[2022-04-19 06:34] ifakhrutdinov commented on #437
zowe/zowe-common-c#167 has some info too.

[2022-04-20 11:44] ifakhrutdinov commented on #437
I've made a [POC](https://github.com/ifakhrutdinov/zowe-common-c/commit/ab6f4940c40aadb976bf738ade21b6daa11a8156) based on https://github.com/zowe/zowe-common-c/issues/167:
[code]

[2022-04-27 15:39] JoeNemo commented on #462
Does anybody have a means of reproducing this?

I am guessing that an SVCDUMP (large file) was being downloaded because of blocksize/lrecl.  I think that EBCDIC/UTF8 conversion may be involved, but this is probably binary data.

[2022-04-28 07:39] BartS07 commented on #462
Zowe end-user more or less accidentally opened an SVCDUMP file in the Editor app causing the messages and loop.

Opening a  small file  with the same characteristics is no problem. I just reproduced it with a large file: 3700 tracks.

[2022-05-04 17:32] 1000TurquoisePogs opened #467 "Support sso initialization for second pattern that apiml API returns"
For some reason, in some environments the APIML JWT URL returns the info ZSS needs necessary to cryptographically verify a JWT in a different JSON format than in other environments. I'm unsure if this is when zosmf is off vs on, or zos 2.4 vs 2.5, or any other environment condition. All I know is that Jack Jia has an environment in which SSO does not work and it is due to apiml returning crypto in

[2022-05-11 07:06] achmelo opened #469 "Protect SAF IDT endpoint"
REST endpoints for creating and verifying SAF ID tokens are currently available to anyone. After broad discussions with the community and SMEs, there was an agreement that it would be better to protect these endpoints with another layer of security, e.g. client certificates.
This is a follow-up issue for PR: https://github.com/zowe/zss/pull/447

[2022-05-11 15:51] JoeNemo commented on #467
Hi Jack and Sean,  can you please add all relevant details to this bug.    This seems like something changed in zOSMF or APIML, but don't have a test case.

[2022-05-11 16:00] JoeNemo opened #472 "Validate size and latency of Dataset and directory services in ZSS"
Editor can be slow, and we need to verify that ZSS / zowe-common-c is not the cause, or re-swizzle the API's.

[2022-05-17 20:38] AdarshdeepCheema opened #474 "ZSS has broken PUT API request (UNIX API - writes contents to file or creates non-empty file)"
Steps to reproduce:
1. open the API Catalog and go to ZSS APIs
2. try the below API
![Screen Shot 2022-05-17 at 4 29 16 PM](https://user-images.githubusercontent.com/57364561/168904428-bed68cd0-83ef-4e8e-98ae-6a9b340987e3.png)
3. Add the details like directory, file, body, sessionID, sourceEncoding. targetEncoding, last Chunk, forceOverwite
**Problem # 1:** You will be wondering what should we add

[2022-05-18 15:31] JoeNemo commented on #469
@achmelo - please assign this to you or a colleague

[2022-05-18 15:35] achmelo commented on #469
I can't do anything in this repo(not even assign myself) as I don't have permission. Please assign me. However, if I or anyone from our team will work on this issue, we will need to have permission.

[2022-05-18 23:37] jordanfilteau1995 commented on #474
### Background

You can upload the file in chunks or you can treat the entire file as a single chunk. There is a query parameter that you must attach, `lastChunk`, that controls this behavior.

If you are using this for file editing, then `lastChunk=true` is sufficient. If you are using this for file uploading, then `lastChunk=false` is useful, as it will append the body of each previous request t

[2022-05-19 13:19] AdarshdeepCheema commented on #474
@jordanfilteau1995  regarding (2): Yes I have intentionally set the `lastChunk=false` to add the content at the end of the file each time I send the API request.
I have only used the Insomnia tool to run the API for the very first time and get the session ID. Once I had the session ID, I used the API from API catalog, to add the content to the file. But it was adding` int main() { return 0; }` ins

[2022-05-20 13:37] 1000TurquoisePogs opened #475 "ZSS Unix contents API untagged file GET behavior unexpected"
When a file is untagged, most programs in USS assume the contents are 1047.
However, some files can be binary instead.
So, there's fairly common behavior of what files are readable and are not in an editor when untagged.

But not in the Zowe Desktop editor. It does something more interesting, but unexpected
When untagged, it reads through a list of extensions to determine if the file should be tre

[2022-06-01 15:48] balhar-jakub commented on #294
@achmelo Is this still valid as we now provide the JWT token with the REST API?

[2022-06-10 13:31] DivergentEuropeans opened #497 "Copy into a destination folder with "." produces a copy with ASCII"
There's a bug where copy operation copies our dataset in ASCII when the destination folder has a "." in it (or maybe a different special character) which renders it unreadable in the Editor by default when it is untagged - possibly ZSS Copy API problem exposed by Editor?

[2022-06-13 19:53] AdarshdeepCheema opened #482 "Cannot upload docx,.ppt and PDFs, etc using ZSS APIs"
Steps to reproduce.

Open the Editor -> right click any folder -> click upload -> choose a file of type zip, ppt or PDF, -> try to upload
You will get 500 error with response {"error":"Failed to write chunk to file."}
Editor converts the file to base64 and send this payload  in chunks to write, but ZSS API fails

[2022-06-23 17:15] AdarshdeepCheema opened #483 "ZSS API gives Success Message, instead of Error while creating Folder, at a destination where same named file/Folder already exists"
Steps to reproduce:
create file as  **DirA/DirB/NameA**
create folder as **DirA/DirB/NameB**

Now try to create the Folder with same names via Editor, API Catalog or use ZSS API in third party tool such as Insomnia.
You will see no error but success Message in the API responses. However nothing will get created actually.

https://Server:GatewayPort/zlux/ui/v1/unixfile/mkdir/DirA/DirB/NameA?respons

[2022-06-24 12:33] 1000TurquoisePogs opened #484 "ZSS HTTPS ciphers are not user customizable"
It appears the ZSS ciphers are a default list which get maintained but are not something the user can customize.
https://github.com/zowe/zss/blob/f397363b33aa0d2e0c31201d0b2047a0750e148b/c/zss.c#L1202=

It looks like other https parameters are customized within agent.https, and so just allowing customization via agent.https.ciphers sounds good.

[2022-06-24 12:36] 1000TurquoisePogs commented on #484
Since the current list is:
  TLS_DHE_RSA_WITH_AES_128_GCM_SHA256     \
  TLS_DHE_RSA_WITH_AES_256_GCM_SHA384     \
  TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 \
  TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 \
  TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256   \
  TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384

  If you wanted to set that via config, it looks like they resolve to strings https://github.com/zowe/zowe-commo

[2022-06-29 15:46] 1000TurquoisePogs commented on #484
https://testssl.sh/openssl-iana.mapping.html lists the openssl and iana names of ciphers.
I suggest rather than doing
[code]
It would be good to have a mapping between the ints and names so that people can do
[code]
For example.

[2022-07-05 13:47] lv198 opened #485 "Using other SAF Class than 'ZOWE' does not work (ZWESIP00)"
Typically, in my company, SAF Classes of optional software products have a '$' as first character in their name, for example '$ZOWE' instead of 'ZOWE'.
When using $ZOWE instead of ZOWE as SAF CLASS, Zowe gets a service error, 'Problem checking access permissions'.

As the values are customizable, this should work.

Error message example:
2022-07-05 13:38:33.117 <ZWED:66587> ZWESVUSR WARN (org.zowe

[2022-07-05 13:52] 1000TurquoisePogs commented on #485
Hello,

Where do you see instructions within Zowe about customizing the name of the class away from "ZOWE"?
I believe it must be ZOWE, https://docs.zowe.org/stable/user-guide/mvd-configuration/#defining-the-racf-zowe-class
z/OS 2.5 actually ships with class ZOWE defined I believe.

[2022-07-05 20:58] lv198 commented on #485
Hello @1000TurquoisePogs

If it must be Zowe, why are the values in member ZWESIP00 customizable and not hardcoded?

Also, I'd be interested in documentation about the introduction of class Zowe in z/OS 2.5.
That would help me in the discussion with our RACF team (it's not my idea to use $ZOWE instead of ZOWE, I'd rather use what the product suggests ...).

[2022-07-06 12:55] 1000TurquoisePogs commented on #485
ZWESIP00 customization may date back to before we knew what the name of the project would be, but there are other places where ZOWE is hardcoded, so changing it in ZWESIP00 will break when other places still look for ZOWE.
I found this online https://www.newera.com/INFO/090921_V2R5_Part_2.pdf by Marna Walle of IBM and on page 35 she goes into detail about RACF actions to take to migrate from a dyn

[2022-07-07 22:46] lv198 commented on #485
Okay thank you that helps me a lot

[2022-07-07 22:47] #485 closed, assigned to nobody

[2022-07-08 13:28] 1000TurquoisePogs commented on #467
https://github.com/zowe/zss/blob/v2.x/staging/c/jwk.c#L275= seems to be where we are handling APIML output from the APIML url https://host:7554/gateway/api/v1/auth/keys/public/current
I'm told sometimes (different system configurations?) the API returns a differently shaped JSON.

Here's one shape that I do have:

[code]

But I believe there's another shape, so please report here if you see one we

[2022-07-25 14:37] BartS07 opened #492 "zssServer64 Program Control Attribute not set SMPe install"
Zowe V2 doc says it is recommended to run the ZSS in 64 bit mode, and it also mentions the zowe.yaml setting to update.

But the Program Control Attribute is not set for components/zss/bin/zssServer64 in the SMPe installed version of Zowe.

From the ZWESLSTC output:

BPXTLS failed: rc=-1, return code=139, reason code=0x0be802af
Error: service has no impersonation; make sure process user has suffic

[2022-07-25 18:05] 1000TurquoisePogs commented on #492
Hi @BartS07 thanks for noticing, you're right!
I spotted that we just fixed this https://github.com/zowe/zss/blame/v2.x/staging/.pax/pre-packaging.sh#L41 but it wont be there until v2.3
The good news about v2.3 is there's going to be other improvements under the hood too. Namely, if you run zowe with the zowe.yaml property `zowe.useConfigmgr=true` it should startup faster, have config validation,

[2022-07-25 18:05] #492 closed, assigned to nobody

[2022-07-27 15:57] 1000TurquoisePogs opened #495 "ZSS fails to return entire REST API response when dataset/folder is too big to list all"
I've seen before that when ZSS is returning a JSON listing the files or folders or ds member details, it can sent a partial JSON and then just stop, leaving the client with nothing to do. It's probably an abend of some sort that may reveal itself now that we have better logging about those.

[2022-08-05 13:09] 1000TurquoisePogs commented on #497
Is it this? This is about files but you said directories.
https://github.com/zowe/zowe-common-c/blob/13af8f1e9b962f3288007a64e027b93fcfb84d6b/c/httpserver.c#L4033-L4098
this controls what the auto-encoding will be for a file based on extension.

[2022-08-05 13:11] 1000TurquoisePogs commented on #497
It seems that tagging is still obeyed, so manual tagging may be needed at that time.

[2022-08-05 13:31] 1000TurquoisePogs opened #498 "Alias dataset not accessible from dataset API"
Related: https://github.com/zowe/zlux/issues/560
When there is an alias defined for dataset, such alias can not be used in MVS explorer to be search for. It seems the MVS explorer is not able to recognize, that it is the alias and get the target dataset.

Alias was created by IDCAMS:
DEFINE ALIAS (NAME(my.alias) RELATE(existing.dataset.name))

I know the editor uses the zss api which does a simple

[2022-08-18 15:13] Dingmans commented on #467
Hello!

I've had issues with SSO to ZSS via the Zowe desktop, it works fine with direct API calls to ZSS with basic auth. Been scouring the internet to try and find some resources - Perhaps the issue above could be why?

The zowe version we're using is V 1.27.1 and z/OS 2.4.

I do get the following messages:
ZWES1602W JWK is in unrecognized format
ZWES1605W Server will not accept JWT

[code]

Whic

[2022-08-19 13:18] 1000TurquoisePogs commented on #498
https://github.com/zowe/zss/blob/v2.x/staging/c/datasetjson.c#L1807-L1838 this function is the one that returns a dataset.
before we get here https://github.com/zowe/zss/blob/v2.x/staging/c/datasetjson.c#L1833
we first lookup dataset details here https://github.com/zowe/zss/blob/v2.x/staging/c/datasetjson.c#L1818
if we do a CSI query (jcsi.c) and find the destination of the alias, we could swap th

[2022-08-27 15:26] 1000TurquoisePogs commented on #467
i believe you must do `-H 'Accept: application/json'` to get JSON out.

[2022-08-29 05:18] Dingmans commented on #467
Greetings,

Oh yeah missed the header. Added that part and it seems like some fields are missing compared to yours, not sure if that counts as different shape?

`{"keys":[{"kty":"RSA","e":"AQAB","n":"some long string.... "}]}`

Many thanks!

[2022-09-06 15:21] BartS07 opened #506 "Zowe Monaco Editor not working in 64 bit mode"
Started ZWESLSTC in 64 bit mode. Noticed the Editor was not working anymore. Reverted back to 31 bit and everything worked properly.
![Schermafbeelding 2022-09-06 171622](https://user-images.githubusercontent.com/86969974/188673398-cb245ecd-a3fa-43d0-8c33-5aa936d866cf.png)

[2022-09-06 15:38] 1000TurquoisePogs commented on #506
Thanks for reporting this. This sounds similar to what we fixed for 2.3, so please check back once 2.3 is released. RC1 should be sometime this week.
https://github.com/zowe/zowe-common-c/pull/317
https://github.com/zowe/zowe-common-c/pull/322

[2022-09-14 15:31] ojcelis opened #512 "Zss internal error accessing .components.zss.'productReg', err=101"
Getting product registration error message "internal error accessing .components.zss.'productReg', err=101" while testing v2.3-RC3

[2022-09-20 18:31] 1000TurquoisePogs commented on #512
This is due to a lookup that expects this parameter to be mandatory and therefore prints an error when its not provided.
In reality, this "error" is unimportant. its an optional parameter that when missing causes no issue.
It should still be fixed so that people do not continue to discover this.

[2022-09-21 18:28] #512 closed, assigned to JoeNemo

[2022-09-28 15:12] JoeNemo commented on #506
Please retry on 2.3 and if it continues to occur, please re-open.

[2022-09-28 15:12] #506 closed, assigned to nobody

[2022-10-07 16:19] struga0258 opened #522 "Dataset create api error message"
Dataset create api seems to not mimic what zos or tso does when creating datasets, for example if we send a put request with an empty json body it still returns 200 with dataset created. In tso this would not be the case. We need the api to have some required fields or else a message throw. Also even when datasets are not create it issues a 200, so needs to be looked at.

![image](https://user-ima

[2022-10-10 13:24] Martin-Zeithaml opened #523 "S0C4 during initialization"
No dump available, ZSS server log:
[code]

```jsonArrayGetItem``` is defined in [zowe-common-c/c/jsonc.c](https://github.com/zowe/zowe-common-c/blob/v2.x/staging/c/json.c) and used in [zss/c/dataset.json](https://github.com/zowe/zss/blob/v2.x/staging/c/datasetjson.c). I was trying to add some more log information to ```datasetjson.c```, but with no result.
Any idea why is zss trying to read json d

[2022-10-10 13:52] 1000TurquoisePogs commented on #523
in 2.3+, zss is analyzing the zowe.yaml. Something should be an array (yaml, but gets converted to json) and yet probably it isnt an array, and then this causes a crash?
What are the messages that occur before that line?
There's probably another way to do this but,

https://github.com/zowe/zss/blob/v2.x/staging/bin/zssServer.sh#L172
if you add `--configTrace 2`, i think it will turn on more info a

[2022-10-10 14:08] Martin-Zeithaml commented on #523
There are just INFO messages:
[code]

[2022-10-10 19:06] JoeNemo commented on #523
Martin, can you post the input files (yaml), and also try to trim them down to something small while keeping that same error.   It sure looks like something is misinterpreted as an array.   But we need a test case.

[2022-10-10 19:07] JoeNemo commented on #523
And please try to setTraceLevel to 2 (Sean may know how in ZWE).

[2022-10-11 12:21] ActionThisDay opened #524 "Authentication Failed APIML 401 - ZWES1605W Server will not accept JWT"
Im doing a new V2 install , and seeing some issues , possibly related. The main one being I fail authentication to the ZOWE Explorer

I cant login to ZOWE Explorer - I get an error Authentication Failed for 3 Types [saf,apiml,zss]  APIML 401

My Server sysout reports
2022-10-11 11:26:50.741 <ZWED:424> ZWESVUSR WARN (_zsf.auth,webauth.js:378) ZWED0003W - User=undefined (org.zowe.zlux.auth.safsso):

[2022-10-11 14:01] Martin-Zeithaml commented on #523
This error was on the customer's machine and SOC4 is no longer there. I will compare the yaml files from customer and try to reproduce this.

[2022-10-12 16:48] ActionThisDay commented on #524
Thank you for reply Joe..
For the APIML 401 Login failure I did not see anything in the log
2022-10-12 16:30:17 <ZWELNCH:33554601> ZWESVUSR DEBUG waitpid RC = 0 for files-api(900)
2022-10-12 16:30:17 <ZWELNCH:33554601> ZWESVUSR DEBUG waiting for next message from discovery(819)
2022-10-12 16:30:17 <ZWELNCH:33554601> ZWESVUSR DEBUG waiting for next message from app-server(67109058)
2022-10-12 16:30

[2022-10-18 17:56] BartS07 opened #527 "S0C4 abends during startup, zss won't start"
- UO02053/UO02054 V2.3.1 applied.
- ZWESISTC: ZWES0001I ZSS Cross-Memory Server starting, version is 2.3.0+20220912
- ZWESLSTC running in 64 bit mode
- ZWESLSTC: no ZWES1013I message and there is also no ZWES1014I message
- ZWESLSTC: several retries zss start generating messages (ending with message ZWEL0038E max retries reached):

IDI0001I Fault Analyzer V14R1M15 (UI77735 2021/10/19) invoked by I

[2022-10-18 18:36] 1000TurquoisePogs commented on #527
we've seen this result in CEEDUMP files being put into the zowe runtime directory. If you see one, can you upload it? It's very useful here.

[2022-10-18 19:04] BartS07 commented on #527
Unfortunately I don't see any.

[2022-10-18 19:06] 1000TurquoisePogs commented on #527
you may have the environment variable "_CEE_DMPTARG" set (would show up in job log) and if so, the CEEDUMP will instead be located in that directory.

[2022-10-18 19:07] 1000TurquoisePogs commented on #527
Another possibility is the file is in runtime_directory/components/zss/bin or just runtime_directory/components/zss

[2022-10-18 19:12] BartS07 commented on #527
Variable _CEE_DMPTARG is not set.
Don't see any CEEDUMP in the runtime_directory/components/zss/bin or runtime_directory/components/zss

[2022-10-21 11:04] BartS07 commented on #527
Zowe upgrade to 2.4.0 fixed this issue. Strange, maybe v2.3.1  was not SMPe packaged in the right order?

[2022-10-27 13:45] 1000TurquoisePogs commented on #367
Now on docs.zowe.org

[2022-10-27 13:45] #367 closed

[2022-10-27 14:27] 1000TurquoisePogs commented on #291
This was complete some time ago.

[2022-10-27 14:27] #291 closed

[2022-10-27 14:28] 1000TurquoisePogs commented on #228
Closing this as it seems no longer relevant in v2 which is where this user is migrating to.

[2022-10-27 14:28] #228 closed

[2022-10-27 14:31] 1000TurquoisePogs commented on #456
That was done in v2.0 or so.

[2022-10-27 14:31] #456 closed, assigned to DivergentEuropeans

[2022-11-01 23:38] RadekNavratil opened #539 "ZSS component failure to start"
Hello guys,

I am new to Zowe, installing version 2.2 on zOS 2.4 on our test image before deploy to production.
ZSS component failure to start with messages below.
Keystore was generated of default values using zwe init certificate and is type PKCS12
Certificate is functional as I have connection from web browser to gateway component and appserver component.
ZSS component setting in my zowe.yaml i

[2022-11-08 11:37] Martin-Zeithaml commented on #523
I spent some time trying to recreate this problem, but no success. I have also added couple of extra debugging messages into ```datasetjson.c```. It did not help at all. Closing issue, in case of recreation on our system I will grab the DUMP and reopen this.

[2022-11-09 15:22] #523 closed, assigned to nobody

[2022-11-10 12:08] balhar-jakub commented on #539
@1000TurquoisePogs Can you move this issue to the ZSS repository please?

[2022-11-12 13:19] miroslav-kubik opened #534 "SAF keyring - blank in CA name is not supported"
Running Zowe 2.4 with SAF keyring and my own CA which uses "blank" in CN name.
e.g. "My CA Company"

This fails with following:
CRITICAL (_zsf.bootstrap,plugin-loader.js:927) unable to get issuer certificate

Looking at specifications how CN can be defined - space is allowed.
Is it known issue?

[2022-11-12 13:27] miroslav-kubik opened #535 "Removal of ZOWE_IP_ADDRESS option in Zowe 2x causes problem for VIPA definition"
After migrating to Zowe V2.4 (from 1.x) I hit a problem with network.
For Zowe 1x I had VIPA definitions set, so the IP address was activated/deactivated on the LPAR whenever Zowe started task was started or stopped.

This does not work anymore and I suspect it's caused by removing of ZOWE_IP_ADDRESS option which is no longer available in 2.x

VIPA definition which is affected is:
VIPARange Define

[2022-11-16 16:06] 1000TurquoisePogs commented on #539
What version of Java are you using?
You have probably been hit by this https://github.com/zowe/docs-site/issues/2459

[2022-11-22 20:02] rayhand1 opened #541 "ZSS jsonArrayGetItem at statement 1737 Abend S0C4"
**Describe the bug**
This is a new install of ZOWE.  Applied all maint and now up to 2.4.0
At zss startup I am getting the following error and zss fails to start

zssServer.sh removing /global/zowe/logs/zssServer-2022-11-21-15-48.log
ZWES_LOG_FILE=/global/zowe/logs/zssServer-2022-11-22-19-15.log
CEE3204S The system detected a protection exception (System Completion Code=0C4).
         From entry p

[2022-11-22 20:14] 1000TurquoisePogs commented on #541
Can you post to myself and/or @JoeNemo the zowe.yaml you use and the joblog? If you have a CEEDUMP file (at the root of your runtime directory) that will also be helpful. If you want to share these privately, you can also send them to me privately in the OMP slack, or over at email via  sgrady at rocketsoftware.com

[2022-11-22 20:28] rayhand1 commented on #541
[ZOWE.YAML.txt](https://github.com/zowe/zss/files/10070870/ZOWE.YAML.txt)
[ZWESISTC.OUTPUT.txt](https://github.com/zowe/zss/files/10070871/ZWESISTC.OUTPUT.txt)
[ZWESLSTC.OUTPUT.txt](https://github.com/zowe/zss/files/10070872/ZWESLSTC.OUTPUT.txt)
I was not sure how to post to you or Joe so i put the files here.

[2022-11-22 20:37] 1000TurquoisePogs commented on #541
Can you try running with
[code]

Currently you have `tls: false` and the difference does have an impact on a particular array read, so perhaps this is the cause though it's not clear at this point without more tracing (which I'll look into) or a CEEDUMP file.

[2022-11-22 20:43] rayhand1 commented on #541
I put a CEEDUMP DD in the started task and restarted it and while it took the S0C4 it did not generate a dump.
Do I need to add anything else?
I do have fault analyzer dumps.  Would that work?

[2022-11-22 20:49] 1000TurquoisePogs commented on #541
It's unrelated to the DD statements. CEEDUMP files get generated by the system in the directory that a failure occurred at, when possible. It could be in /usr/lpp/zowe or /usr/lpp/zowe/components/zss or /usr/lpp/zowe/components/zss/bin
If none of the above, perhaps the fault analyzer dump is useful. I'll certainly look at it or find someone who can.

[2022-11-22 21:02] rayhand1 commented on #541
[CEEDUMP.txt](https://github.com/zowe/zss/files/10071034/CEEDUMP.txt)
I found it, thanks

[2022-11-22 21:29] rayhand1 commented on #541
Great job, the S0C4 is gone.
I can logon to the zowe desktop thru my browser but take errors on everything except the tn3270 and the api catalog.
Editor gets An unknown error occured: undefined
IP explorer gives me Error: unauthorized
JES explorer takes me to a ZOWE logon screen and I get Unexpected token '<', "<h1>Resour"... is not valid JSON
MVS explorer behaves the same as the JES explorer.
USS

[2022-11-22 21:29] rayhand1 commented on #541
sorry did not mean to bold all that and make the font so big

[2022-11-22 21:40] 1000TurquoisePogs commented on #541
Interesting, there must be a weird but with `tls: false` that I can look into.
For your next error, keep in mind that the explorers depend upon the mediation layer. Therefore, you should access the Desktop via the mediation layer in order to make them work. When you access the Desktop directly instead, you get these issues you describe.

That is to say,
Don't go to the Desktop via https://host:755

[2022-11-22 21:57] rayhand1 commented on #541
Looking at my notes, i could not find easily how to access ZOWE so I did a TSO NETSTAT SOCK and pointed my browser at each of the ports opened.
It looks better now that i use the correct url.

[2022-11-22 22:07] rayhand1 commented on #541
Thanks for all the help.  I'll document some more issues tomorrow.

[2022-11-23 15:06] rayhand1 commented on #541
After using the correct url to get to the desktop I tried each application i found and here is a status:

tn3270 works

vt terminal works

jes explorer gets first screen then just clocks waiting for what?

editor An unknown error occurred: undefined

ip explorer gives first screen, no active connections, no reserved ports
		fill in tcpip jobname at bottom left and still no connections/ports

MVS E

[2022-11-23 15:56] 1000TurquoisePogs commented on #541
It looks like you have zosmf commented out in your config.
MVS, USS, and JES explorers depend on zosmf.
IP explorer & editor depend upon ZSS. Now that you fixed one ZSS error, please show us the latest logs, there must be another error.

[2022-11-23 16:08] rayhand1 commented on #541
[ZWE.APP.LOG.TXT](https://github.com/zowe/zss/files/10077244/ZWE.APP.LOG.TXT)
[ZWE.ZSS.LOG.TXT](https://github.com/zowe/zss/files/10077245/ZWE.ZSS.LOG.TXT)
[ZWESLSTC.OUTPUT.TXT](https://github.com/zowe/zss/files/10077246/ZWESLSTC.OUTPUT.TXT)
here are the latest logs

[2022-11-23 16:27] Martin-Zeithaml commented on #541
Seems to be same as #523

[2022-11-23 16:42] rayhand1 commented on #541
The S0C4 problem was solved yesterday by changing
zss:
tls: false
to
tls: true

[2022-11-23 19:10] rayhand1 commented on #541
turned on zosmf in yaml.conf

jes explorer works
editor works
ip explorer works
vt terminal works

mvs explorer no datasets found (fetch datasets failed)

following zowe desktop command
zowe zos-files list data-set "zzg047.*" --host plp321.sys.eds.com --port 9445 --user zzg047
I get the following error;
Command Error:
z/OSMF REST API Error:
http(s) request error event called
Error: certificate has

[2022-11-23 19:16] rayhand1 commented on #541
I added -reject-unauthorized false and now my cli command works

[2022-11-23 21:29] rayhand1 commented on #541
we can close this.
Thanks everyone for all the great help.

[2022-11-23 21:29] #541 closed, assigned to nobody

[2022-11-23 21:30] rayhand1 commented on #541
It was a real pleasure working with you folks.